/*
ethan (average-kirigiri-enjoyer)
SCS Boot Camp Module 2 Weekly Challenge - Professional Coding Portfolio
Created 2023/07/17
Last Edited 2023/07/19
*/

:root
{
    --mint-green: #00ff83;
    --ruby-red: #ff0045;
    --indigo: #5900ff;
    --lilac: #d5beff;
}

*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.title-bar-image
{
    width: 100%;
    height: 300px;
    background-image: url(./images/sitting-at-greenpath-bench-wide-banner.jpg);
    background-size: 100%, 300px;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.main-content-section
{
    float: right;
    width: 80%;
}

#projects-showcase
{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.project
{
    height: 250px;
    width: 500px;
    flex: 1 1 500px;
    border: solid 8px var(--ruby-red);
}

.headline-project
{
    height: 500px;
    width: 1000px;
    flex: 1 1 1200px;
}

#challenge-1
{
    background-image: url(./images/horiseon-social-solutions-preview-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#prework-study-guide
{
    background-image: url(./images/prework-study-guide-preview-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.placeholder
{
    background-image: url(./images/placeholder-image-transparent.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}